.col1 {
  background-image: url("assets/background1.jpg");
  background-repeat: no-repeat;
  background-position-y: -6em;
  background-size: 51.6em;
  background-position-x: center;
}

.col2 {
  background-image: url("assets/background2.jpg");
  background-repeat: no-repeat;
  background-position-y: -6em;
  background-position-x: center;
  background-size: 51.5em;
}

.col3 {
  background-repeat: no-repeat;
  background-position-y: 0;
  background-position-x: center;
  background-size: 51.5em;
}

.col4 {
  background-image: url("assets/background3.jpg");
  background-repeat: no-repeat;
  background-position-y: 0;
  background-position-x: center;
  background-size: 51.5em;
}

.col1 .mobContainer {
  -webkit-transform: rotate(-13deg);
          transform: rotate(-13deg);
  -webkit-transition: ease all 4s;
  transition: ease all 4s;
}

.col2 .mobContainer {
  -webkit-transform: rotate3d(5, 2, 7, -36deg) translate(1em, 0px) scale(1.05);
          transform: rotate3d(5, 2, 7, -36deg) translate(1em, 0px) scale(1.05);
  -webkit-transition: ease all 4s;
  transition: ease all 4s;
}

.col4 .mobContainer {
  -webkit-transform: translate(8.6em, 4.6em) scale(0.89);
          transform: translate(8.6em, 4.6em) scale(0.89);
  -webkit-transition: ease all 4s;
  transition: ease all 4s;
  z-index: 1;
}

.transitionNone {
  -webkit-transition: ease all 0s !important;
  transition: ease all 0s !important;
}

.wrap {
  height: 100vh;
  overflow-x: hidden;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

.container.open {
  height: 0;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: ease all 1s;
  transition: ease all 1s;
}

.set:hover {
  opacity: 1;
  -webkit-filter: initial;
          filter: initial;
}

.transitisonNone:hover {
  -webkit-filter: saturate(1.3) brightness(1.1);
          filter: saturate(1.3) brightness(1.1);
  opacity: .9;
}

.webWorkMobileTilt {
  font-size: 1em;
}

.mobContainer {
  -webkit-transition: ease all 1s;
  transition: ease all 1s;
}

.noPointer {
  pointer-events: none;
}

.cover {
  z-index: 9;
  height: 0%;
  width: 100%;
  background-color: white;
  position: absolute;
  opacity: 0;
  -webkit-transition: ease all 1s;
  transition: ease all 1s;
}

.close {
  display: none;
  background-color: #f5f4f4;
  font-size: 2em;
  padding: .4em;
  border-radius: 0.2em;
  width: 1.1em;
  cursor: pointer;
  -webkit-transition: ease all .7s;
  transition: ease all .7s;
  position: absolute;
}

.closeactive {
  display: initial;
  z-index: 9999;
  background-color: #f5f4f4;
  font-size: 2em;
  padding: .4em;
  border-radius: 0.2em;
  width: 1.1em;
  cursor: pointer;
  -webkit-transition: ease all .7s;
  transition: ease all .7s;
  position: absolute;
}

.closeactive:hover {
  background-color: #dcdcdc;
  color: #111;
}

.active {
  z-index: 9;
  height: 100%;
  opacity: 1;
}

.col1oneExpand {
  padding: 0%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 70%;
          flex: 1 0 70%;
  height: 100%;
  width: 100%;
  -webkit-transition: ease all 2s;
  transition: ease all 2s;
  z-index: 99;
}

.col1oneExpand .mobContainer {
  font-size: 1.5em;
}

.col2twoExpand {
  z-index: 99;
  padding: 0%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 70%;
          flex: 1 0 70%;
  height: 100%;
  width: 100%;
  -webkit-transition: ease all 2s;
  transition: ease all 2s;
}

.col2twoExpand .mobContainer {
  font-size: 1.5em;
}

.col3threeExpand {
  z-index: 99;
  padding: 0%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 70%;
          flex: 1 0 70%;
  height: 100%;
  width: 100%;
  -webkit-transition: ease all 2s;
  transition: ease all 2s;
}

.col3threeExpand .mobContainer {
  font-size: 1.5em;
}

.col4fourExpand {
  z-index: 99;
  padding: 0%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 70%;
          flex: 1 0 70%;
  height: 100%;
  width: 100%;
  -webkit-transition: ease all 2s;
  transition: ease all 2s;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.col4fourExpand .mobContainer {
  font-size: 1em;
}

.col4fourExpand .webWork {
  -webkit-box-shadow: 0.5em 0.3em 1em 0.2em rgba(0, 0, 0, 0.25);
          box-shadow: 0.5em 0.3em 1em 0.2em rgba(0, 0, 0, 0.25);
  font-size: 1.2em;
  cursor: pointer;
  margin-left: 0vw;
  min-width: 15em;
  width: 54em;
  height: 32em;
  margin-top: 0vw;
  padding: 1.9em;
  background-color: #191919;
  border-radius: 2em;
  -webkit-transition: ease all 1s;
  transition: ease all 1s;
}

.inapp-mobile {
  width: 100%;
  height: 40em;
  font-size: 0.8em;
  border: none;
}

.webWorkTilt {
  width: 31em;
  height: 35em;
  z-index: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.webWork:hover {
  -webkit-box-shadow: 1em 0.3em 2em 0.4em rgba(0, 0, 0, 0.15);
          box-shadow: 1em 0.3em 2em 0.4em rgba(0, 0, 0, 0.15);
  -webkit-transform: translateX(-5em);
          transform: translateX(-5em);
}

.webWork {
  -webkit-box-shadow: 0.5em 0.3em 1em 0.2em rgba(0, 0, 0, 0.25);
          box-shadow: 0.5em 0.3em 1em 0.2em rgba(0, 0, 0, 0.25);
  /* font-size: .7vw; */
  cursor: pointer;
  margin-left: 0vw;
  min-width: 15em;
  width: 45em;
  height: 26em;
  margin-top: 0vw;
  padding: 1.9em;
  background-color: #191919;
  border-radius: 2em;
  -webkit-transition: ease all 1s;
  transition: ease all 1s;
}

.webWork .webWorkInner {
  overflow: hidden;
  overflow-y: scroll;
  width: 45vw;
  height: 30vw;
  border-radius: .3em;
}

.webWork h1 {
  position: absolute;
  margin-top: -1.3em;
  font-size: 3.4em;
  border-bottom: thin solid #cdcdcd;
  color: #27b6c3;
  line-height: .7em;
}

.webWorkMobile {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-box-shadow: 0.7em 0.6em 2em 0.4em rgba(0, 0, 0, 0.25);
          box-shadow: 0.7em 0.6em 2em 0.4em rgba(0, 0, 0, 0.25);
  cursor: pointer;
  margin-left: 0vw;
  min-width: 10em;
  width: 18em;
  height: 32em;
  padding: 4.24em  1em 5em 1em;
  background-image: url("assets/mobile.png");
  background-size: cover;
  border-radius: 3em;
}

.webWorkMobile .webWorkInner {
  border-bottom: 2px solid black;
  overflow: hidden;
  overflow-y: scroll;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.webWorkMobile h1 {
  position: absolute;
  margin-top: -1.3em;
  font-size: 3.4em;
  border-bottom: thin solid #cdcdcd;
  color: #27b6c3;
  line-height: .7em;
}

@media only screen and (max-width: 850px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=App.css.map */