
@import "_colours.scss";

.wrap {

    height:100vh;
    overflow:hidden;

}

.container {
    display:flex;
    flex:1 0 50%;

}
.col {
    display: flex;
    flex: 1 0 0%;

    justify-content: center;
    align-items: center;
    transition:ease all 1s;
}



// .colExpand {
//     padding: 0%; 
//     position: absolute;
//     height:100%;
//     width:100%;
// }

.webWorkMobileTilt {
    font-size:1em;

}

.mobContainer {
    transition: ease all .1s;

}

.noPointer {
    pointer-events: none;
}


.cover {
    z-index: 9;
    height:0%;
    width:100%;
    background-color:white;
    position: absolute;
    opacity:0;
    transition:ease all 1s;
}

.active {
    z-index: 9;
    height:100%;
    opacity:1;
}

.col1oneExpand {
    padding: 0%; 
    flex: 1 0 70%;
    height:100%;
    width:100%;
    transition:ease all 2s;
    z-index:99;
    .mobContainer {
        font-size:1.5em;
    }
}

.col2twoExpand {
    z-index:99;
    padding: 0%; 
    flex: 1 0 70%;
    height:100%;
    width:100%;
    transition:ease all 2s;
    .mobContainer {
        font-size:1.5em;

    }
}

.inapp-mobile {
    width: 100%;
    height: 40em;
    font-size: 0.8em;
    border: none;

}



.webWorkMobile {
    transform:scale(.7);
    box-shadow:.7em .6em 2em .4em rgba(0, 0, 0, 0.25);
    cursor: pointer;
    margin-left: 0vw;
    min-width: 10em;
    width: 18em;
    height: 32em;
    padding: 4.24em  1em 5em 1em;
    background-image: url("assets/mobile.png");
    background-size:cover;
    border-radius: 3em;

    // background-color: #191919;
    // border-image: url("assets/border.png") 500 fill / 5em / 1em space;



    .webWorkInner {
        border-bottom:2px solid black;
        overflow: hidden;
        overflow-y:scroll;
        position:absolute;
        left:0;
        top:0;
        width: 100%;
        height: 100%;
    }
    
    h1 {
        position: absolute;
        margin-top: -1.3em;
        font-size: 3.4em;
        border-bottom: thin solid #cdcdcd;
        color: #27b6c3;
        line-height: .7em;
    }
}